@page "/sign-up"
@using Microsoft.Fast.Components.FluentUI

<PageTitle>Sign Up</PageTitle>

<h1>Register for an account</h1>


<FluentToolbar id="toolbar-slotted-label">
    <span slot="label">Select Account Type(s):</span>
    <FluentButton>Mentor</FluentButton>
    <FluentButton>Mentee</FluentButton>
</FluentToolbar>